// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// Mixins
@mixin SM {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}

@mixin MD {
    @media (min-width: #{$screen-md}) {
        @content;
    }
}

@mixin LG {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}

@mixin XL {
    @media (min-width: #{$screen-xl}) {
        @content;
    }
}

@mixin XXL {
    @media (min-width: #{$screen-xxl}) {
        @content;
    }
}