// Primary
$primary-50: #FEFFFD;
$primary-100: #FBFEF9;
$primary-200: #F9FEF6;
$primary-300: #F6FEF2;
$primary-400: #F4FDEF;
$primary-500: #F1FDEB;
$primary-600: #DBE6D6;
$primary-700: #ABB4A7;
$primary-800: #858B81;
$primary-900: #656A63;

// Secondary
$secondary-50: #E6EAE6;
$secondary-100: #B0BCB0;
$secondary-200: #8A9C8A;
$secondary-300: #546F54;
$secondary-400: #335333;
$secondary-500: #002800;
$secondary-600: #002400;
$secondary-700: #001C00;
$secondary-800: #001600;
$secondary-900: #001100;
